.td_alerta{
    color:rgb(255, 6, 6);
    font-size: 16px;
    text-decoration:underline;
}
.cuadro_text{
    padding: 7px;
    font-size: 12px;
    margin: 4px 2px;
    box-shadow: 0 4px 8px 0 rgba(95, 95, 95, 0.822);
    border-radius: 8px;
}
.etiqueta{
    color:rgb(223, 94, 3); 
}
.etiqueta_desplazada{
    text-indent: 100px;
    color:rgb(223, 94, 3); 
}
.etiqueta_mini{
    color: rgb(223, 94, 3);
    font-size: 12px;
}
.green{
    color: green; 
    font-size: 14px;
}
.blue{
    color: blue; 
    font-size: 18px;
    font-weight: bold;
}
.boton_submit {
    color: rgb(255, 255, 255);
    background-color: rgb(223, 94, 3);
    border: none;
    padding: 7px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(95, 95, 95, 0.822);
    border-radius: 8px;
}
.boton_submit:hover {
    color:rgb(145, 144, 144);
}
.boton_link{
    color: rgb(255, 255, 255);
    background-color: rgb(223, 94, 3);
    border: none;
    padding: 7px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(95, 95, 95, 0.822);
    border-radius: 8px;
    text-decoration: none; /*para quitarle el subrayado del enlace*/
    size-adjust: 100px;
}
.boton_link:hover{
    color:rgb(145, 144, 144); /*para quitarle el colr azul al ponerse encima*/
}
.botones {
    display: flex;/*para que se queden pegados, porque el navegador por defecto los separa aunque tenga margne 0*/
}
.boton_menu{    
    color:  rgb(223, 94, 3);
    background-color: rgb(255, 255, 255);
    border-width: 2px;
    border-top: none;/*le quito la parte superior de borde*/
    border-color: rgb(223, 94, 3);
    padding: 3px 30px;
    text-align: center;
    font-size: 16px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    border-radius: 0px;
    text-decoration:dotted;
    size-adjust: 100px;
}
.boton_menu:hover{    
    color:rgba(95, 95, 95, 0.822);
}
.mi-fieldset {
    border: 2px solid #ccc;   /* Borde gris */
    padding: 10px;            /* Espacio interior */
    border-radius: 8px; 
    margin: 20px;      /* Bordes redondeados */
    width: 95%;
}
.mi-legend {
    display: block;
    float: none;               /* evita que se flote raro */
    width: auto;               /* se ajusta al texto */
    padding: 0 8px;            /* espacio a los lados del texto */
    margin: 0;                 
    font-weight: bold;
    font-size: 16px;
    color: rgb(223, 94, 3);
}
.titulo_prin{
    font-size: 24px; 
    color: rgb(223, 94, 3);
    text-shadow: 1px 2px 5px  grey;
    font-weight: bold;/*negrita*/
}
.titulo_sec{
    font-size: 22px; 
    color: rgb(223, 94, 3);
    text-shadow: 1px 2px 5px  grey;
    font-weight: bold;/*negrita*/
    text-align: center;
}
.mi_tabla{
    table-layout: fixed;/*ancho fijo, necesario para respetar los anchos definidos de cada columna*/
    width: 600px; /* ancho total de la tabla */
    border-collapse: collapse;/*celdas juntas*/
}
.w400{
    width: 400px !important; /* hay que poner !important para que sobre escriba el tamaño que impone la clase mi_tabla, ya que la tabla es de clase mi_tabla w400 */
    float: left;
}
.mi_tabla th{
    border: 2px solid rgb(235, 98, 7);  
    padding: 5px;             
    text-align: center;  
    font-size: 14px;        
}  
.mi_tabla td {
    /*width: 150px; se define en HTML y asi le puedo poner un ancho diferrente a cada columna */
    overflow: hidden; /* opcional: corta el contenido que sobrepasa */
    text-overflow: ellipsis; /* opcional: agrega "..." si el texto es largo */
    /*white-space: nowrap; evita saltos de línea */
    border: 1px solid  rgb(235, 98, 7);  
    padding: 5px;             
    text-align: left;
    font-size: 16px;  
}
.w400 td {
    font-size: 12px !important;/* hay que poner !important para que sobre escriba el tamaño que impone la clase mi_tabla, ya que la tabla es de clase mi_tabla w400 */
}
.mi_tabla caption {
    caption-side: top;   /* fuerza el caption arriba */
    font-weight: bold;   /* opcional: más destacado */
    text-align: left;    /* opcional: alineación */
    padding: 5px;
    color:chocolate;
}
.contenedor-tablas{
    display: flex;
    gap: 20px;          /* espacio entre tablas */
    margin: 10px 0 20px; /* margen superior/inferior */
}